scripts=["

    create group aarCommon
    create group aarPrivateAccess

    create user aarRestrictedUser with password aarRestrictedUser
    add aarRestrictedUser to group contributor
    add aarRestrictedUser to group aarCommon

    create user aarPrivateAccessUser with password aarPrivateAccessUser
    add aarPrivateAccessUser to group contributor
    add aarPrivateAccessUser to group aarPrivateAccess
    add aarPrivateAccessUser to group aarCommon

    set ACL for aarCommon
            allow jcr:read on /conf
    end

"]