scripts=["

    create user aarRestrictedUser with password aarRestrictedUser
    add aarRestrictedUser to group contributor

    create group aarPrivateAccess

    create user aarPrivateAccessUser with password aarPrivateAccessUser
    add aarPrivateAccessUser to group contributor
    add aarPrivateAccessUser to group aarPrivateAccess

"]